#footer {
    color: #0000008c;
}

.footer__container {
    position: relative;
    display: block;
    width: 100vw;
    height: 100vh;
}

.footer__container {
    max-width: 40rem;
    background-color: #d3d3d3;
}


.div__company__infos {
    flex-direction: column;
    align-items: center;
    margin: 0.5rem;
}

.footer__company__info {
    display: block;
}


.company__intro div {
    padding-bottom: 0.5rem;
    font-size: 0.8rem;
}

.company__cs {
    display: inline-block;
    font-size: 0.8rem;
}

.company__cs span {
    padding-right: 0.5rem;
}

.footer__apps {
    float: right;
}

.div__footer {
    padding-bottom: 0.5rem;
}


@media screen and (min-width: 768px) {

    .footer__container {
        max-width: 100%;

    }

    .div__company__infos {
        margin: 1rem;
    }

}

@media screen and (min-width: 962px) {

    #footer {
        height: 30vh;
    }

}



