#footer {
    position : absolute;
    bottom: 0;
    color: #0000008c;
    width: 100vw;
    background-color: #d3d3d3;
    padding: 0.5rem;
    display: block;
}




.div__company__infos {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0.5rem;
}

.footer__company__info {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: block;
}


.company__intro div {
    padding-bottom: 0.5rem;
    font-size: 0.8rem;
}

.company__cs {
    display: inline-block;
    font-size: 0.8rem;
}

.company__cs span {
    padding-right: 0.5rem;
}

.footer__apps {
    float: right;
}

.div__footer {

}






