#header {
    height: 10vh;
}

.menu {
    align-items: center;
    position: relative;
    right: 1rem;
}

.menu__img {
    cursor: pointer;
}


/* 메뉴 스타일 */
.menu-content {
    display: none;
    color: white;
    position: absolute;
}

.menu-content ul {
    margin: 0;
}

.menu-content li {
    margin-right: 0.5rem;
    background-color: antiquewhite;
    border-radius: 1px;
}

.menu-content a {
    color: black;
}

header.header {
    height: 10vh;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    background-color: white;
    color: black;
    justify-content: center;
}

.header-content {
    height: 4rem;
    margin: auto;
    justify-content: space-between;
}


.header-content__logo {
    color: orange;
    font-size: 2rem;
    font-weight: 900;
    align-self: center;
}

@media screen and (min-width: 962px) {

    .main {
        height: 75vh;
    }

}






