
.listen {
    padding-top: 4rem;
    height: 75vh;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.media {
    align-items: center;
    justify-content: center;
    flex-direction: column;
}






.pagination li {
    margin-right: 5px;
}


@media (min-width: 768px) {


    .listen {
        flex-direction: row;
        column-gap: 1.5rem;
        margin: 0 50px;
    }


}


