.main {
    height: 65%;
    justify-content: center;
    flex-direction: column;
}

.main__li {
    list-style: none;
}

.main__ul {
    flex-wrap: wrap;
    gap: 10px;
}

.pagination {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.pagination li {
    margin-right: 5px;
}

@media (min-width: 768px) {
    .main {
        height: 77%;
    }

    .main__ul {
        justify-content: center;
    }




}
