

.memo {
    height: 75vh;
    justify-content: center;
    flex-direction: column;
}

.memo__search {
    justify-content: center;
    gap: 1rem;
}

.memo__li {
    list-style: none;
}

.memo__ul {
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}



@media (min-width: 768px) {

    .memo__ul {
        justify-content: center;
    }




}
