

.main {
    height: 80vh;
    justify-content: center;
    flex-direction: column;
}

.main__search {
    justify-content: center;
    gap: 1rem;
}

.main__li {
    list-style: none;
}

.main__ul {
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}


.pagination {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.pagination li {
    margin-right: 5px;
}

@media (min-width: 768px) {

    .main__ul {
        justify-content: center;
    }




}
