.register {
    height: 70vh;
    margin-top: 15px;
    align-items: center;
    justify-content: center;
    line-height: 2rem;
}

.register button {
    border: none;
    border-radius: 5px;
    background-color: greenyellow;
    margin-top: 5px;
    padding: 7px;
    font-size: 1.2rem;
}

.div__btn {
    display: flex;
    justify-content: center;
}

@media (min-width: 768px) {

}
